.header {
  position: static;
  align-self: flex-start;
  margin-bottom: 5rem;
}

.pfp {
  position: absolute;
  align-self: flex-start;
  margin-left: 6rem;
}

.nav {
  position: absolute;
  align-self: flex-start;
}

.title {
  position: absolute;
  margin-left: 10rem;
}
